.DS_Store
.env
venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Jupyter
.ipynb_checkpoints

# macOS
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.Trashes

# Python virtual envs
/.venv

# Data, outputs and large artifacts
# Exclude runs/ and data/ folders (too large for GitHub)
runs/
data/
files/

# Archives
*.tar
*.gz
*.zip

# Large dataset files (exceed GitHub 100MB limit)
data/train_32x32.mat
data/test_32x32.mat
data/cifar-10-python.tar.gz

# Logs
*.log

# Others
README.md